:root{
    --bg-color: rgb(39,36,46);
    --text-color: #F4EEE0;
    --border-color: #4F4557;
}

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: url('assets/img/index.png');
    background-blend-mode: color-dodge;
    text-align: center;
}

header{
    position:fixed;
    height:10vh;
    width:100%;
    background-color: rgb(39,36,46,.7);
    background-image: url('assets/img/index.png');
    background-blend-mode: color-dodge;
    display:flex;
    justify-content: space-around;
    z-index: 150;
}

h1{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

span{
    font-size: 20px;
}

.center{
    padding-left: 5%;
    padding-right: 5%;
}

#william{
    font-size: 30px;
    width: 20%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin : 0;
}

#menu{
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

#menu>a:hover{
    text-underline-offset: 5px;
    text-decoration-line: underline;
}

a{
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    width: 125px;
    height: 95%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main{
    padding-top: 20vh;
    height:90vh;
}

#main>div{
    padding: 2%;
}

.mainTxt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTxt>p:first-child{
    font-size: 35px;
}

.mainlist{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:25px;
}

.mainlist>p{
    /* width: 75%; */
    font-size: 20px;
    text-align: left;
    margin : 0;
}

.btnportfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.btnportfolio>a{
    padding: 20px;
    border: var(--border-color) solid 3px;
    border-radius: 25px;
    font-size: 15px;
    /* margin-bottom: 10vh; */
}

.btnportfolio>a:hover{
    background-color: var(--border-color);
}

#about>h1{
    padding-top: 15vh;
}

.aboutTxt{
    font-size: 20px;
}

.imgicon{
    width: 45px;
	height: 45px;
	margin-left: 15px;
}

.aboutSkill{
    display:flex;
    justify-content: space-around;

}

.aboutList{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.aboutList>span{
    display:flex;
    align-items: center;
    padding-top: 15px;
}

.aboutReseau{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.aboutReseau>a{
    height:45px;
    width: fit-content;
}

.aboutReseau>a :hover{
    opacity: 0.7;
}

.btncv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5%;
}

.btncv>a{
    border: var(--border-color) solid 3px;
    border-radius: 25px;
    padding: 20px;
    font-size: 15px;
}

.btncv>a:hover{
    background-color: var(--border-color);
}


#project{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#project>h1{
    padding-top: 15vh;
}


#modal{
    position:fixed;
    z-index: 999;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgb(57, 54, 70,.9 );
    display:none;
    justify-content: center;
    align-items: center;
}

#modal:hover{
    cursor: pointer;
}

#modal>img{
    height: 75%;
}

.project{
    margin-top: 5%;
    height: 60vh;
    width: 90%;
    /* background-color: #4F4557; */
    border-radius: 25px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    
    border: var(--border-color) solid 3px;
}

.project:nth-last-child(1){
    margin-bottom: 5%;
}

.imgSlider{
    width: 60%;
    height: 100%;
    /* background-color: chocolate; */
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSlider{
    position:absolute;
    background: rgb(79, 69, 87,.5);
    border-radius: 50%;
    border:none;
    height:50px;
    width: 50px;
    top: 45%;
    z-index: 100;
}

.btnSlider:hover{
    cursor: pointer;
    background: rgba(52, 46, 56, 0.596);
    color: white;
}

.btnL{
    left:11%;
}

.btnR{
    right:11%;
}

button{
    height: 10%;
}

.img{
    padding:5%;
    width: 80%;
    transition: transform 1s;
}

.img:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
    opacity: 0.8;
}

.info{
    width: 38%;
    height: 100%;
    /* background-color: darkmagenta; */
    /* background-color: #6D5D6E; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    
}

.infoTxt{
    color: var(--text-color);
    font-size: 20px;
    height: fit-content;
    width: 80%;
    padding:10px;
    overflow-x: auto;
}

.infoLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoLink>a{
    border: var(--border-color) solid 3px;
    font-size: 15px;
    border-radius: 25px;
    padding: 5px;
}

.infoLink>a:hover{
    background-color: var(--border-color);
}

/* .infoLink{
    height: 15%;
} */

#contact{

}

#contact>h1{
    padding-bottom: 10vh;
}

#contactInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20vh;
}

#contactInfo>div{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactIconTxt{
    display: flex;
    flex-direction: column;
    width: 50%;
}

a.contactIconTxt :hover{
    opacity: 0.7;
}

.contactTxt{
    margin-top: 20px;
    font-size: 20px;
}


@media ( max-width : 768px ) {

    body{
        /* background-color: red; */
    }

    .project{
        flex-direction: column;
        height: fit-content;
    }

    .imgSlider,.info{
        width: 100%;
    }

    #contactInfo{
        /* justify-content: space-around; */
        height:250px;
        margin-bottom: 10vh;
    }

    #contactInfo>div{
        flex-direction: column;
        height:100%
    }

    #contactInfo>div:first-child{
        margin-left: 10%;
    }

    #contactInfo>div:last-child{
        margin-right: 10%;
    }

    .contactIconTxt{
        width: 100%;
    }

    .contactIconTxt{
        
    }


} 
